/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
 }

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  margin-left: 240px; /* Adjust according to Sidebar width */
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

